/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@font-face {
  font-family: 'Borges';
  src: url('../public/fonts/borges.woff2') format('woff2');
}

@font-face {
  font-family: 'Necto Mono';
  src: url('../public/fonts/necto-mono.woff2') format('woff2');
}

@font-face {
  font-family: 'Terminal Grotesque Open';
  src: url('../public/fonts/terminal-grotesque.otf') format('opentype');
}


@theme {
  --font-mono: 'Necto Mono', monospace;
}
